#mixer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#progress-bar {
  margin: 20px 0;
  background-color: #ddd;
  height: 10px;
  position: relative;
}

#progress {
  background-color: #06f;
  height: 100%;
}

button {
  margin: 0 10px;
}
